/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/
html {
  font-family: Georgia, sans-serif;
  font-size: 1.125em;
  line-height: 1.222em;
  color: black;
}

body {
  padding-top: 2.444em;
  padding-right: 1.222em;
  padding-left: 1.222em;
  background-color: #ee7600; /* orange gradiant */
}

footer {
  color: white;
}

h1,
h2,
p {
  padding-bottom: 1.222em;
}
h1 {
  padding-bottom: 0.666em;
  padding-top: 0.777em;
  font-size: 1.675em;
  font-weight: bold;
  line-height: 1.0333em;
}
h2 {
  font-size: 1.55em;
  line-height: 1.04em;
  padding-top: 0.222em;
  padding-bottom: 0.222em;
  text-decoration: underline;
}
li {
  padding-bottom: 0.577em;
}
ul {
  list-style-type: none;
  padding-bottom: 0.999em;
}
img,
video,
audio {
  display: block;
  max-width: 100%;
}
/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, somtimes
  2. concerned with layout and spatial relationships
*/

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em; /*11/18 is 0.611*/
  padding-bottom: 0.611em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
}

#navigation a:hover {
  background-color: #830303;
}
/* current page nav bar */
#home #nav-me a,
#resume #nav-res a,
#interests #nav-int a {
  color: white;
  background-color: green;
}

#navigation li {
  float: left;
  width: 33.33333%;
}


/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tent to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
    spacing, color, etc, etc,
*/
#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
}

.flexbox #navigation ol {
  display: flex;
}
.flexbox #navigation li {
  float: none;
}

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375 px) {
  body {
    padding-right: 11.7333333%; /* 44/375 */
    padding-left: 11.7333333%; /* 44/375 */
  }
}
@media screen and (min-width: 640 px) {
  html {
    font-size: 1.25em;  /* 20/16=1.25 */
  }
}
@media screen and (min-width: 860 px) {
  #primary,
  #header {
    width: 100%;
    text-align: center;
  }

  #videogames {
    width: 47.5%;
    float: left;
  }
  #shows {
    width: 47.5%;
    float: left;
    padding-left: 5%;
  }
  .flexbox #content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: auto;
  }
}
